.chart {
  width: 100%;
  padding: 5%;
}

.chats1 {
  display: flex;
  gap: 2rem;
  width: 100%;

  .chart1 {
    width: 100%;
    margin-bottom: 3rem;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    padding: 2rem;
  }
}
