body {
  left: undefinedpx
}

body {
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px
}

#section-1 {
  text-align: center;
}

#section-17 {
  min-height: 830px;
  background-image: url(https://www.filepicker.io/api/file/08tAD7fjQHGjkq5rq9Oy);
  background-size: cover;
  background-position: center center
}

@media screen and (max-width: 1024px) {
  #section-17 {
    min-height: 512px;
    padding-top: 100px;
    padding-bottom: 20px;
    background-position: center center
  }
}

@media screen and (max-width: 479px) {
  #section-17 {
    min-height: 451px;
    background-position: top center
  }
}

#explore {
  margin-top: 50px;
  text-align: center;
}

#places {
  margin-top: 50px
}

#section-192 {
  margin-top: 50px;
  text-align: center;
  min-height: 1003px;
  background-image: url(https://www.filepicker.io/api/file/W4TsxrAjTunxzI3EhmCz);
  background-size: cover;
  background-position: top center
}

@media screen and (max-width: 1024px) {
  #section-192 {
    min-height: 483px;
    padding-top: 50px;
    padding-left: 15%;
    padding-right: 15%
  }
}

@media screen and (max-width: 479px) {
  #section-192 {
    min-height: 282px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-position: top center
  }
}

#section-195 {
  margin-top: 50px;
  text-align: center;
  min-height: 905px;
  background-image: url(https://www.filepicker.io/api/file/4FbJqJERXqkz8vSB6JjO);
  background-size: cover
}

@media screen and (max-width: 1024px) {
  #section-195 {
    min-height: 449px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px
  }
}

@media screen and (max-width: 479px) {
  #section-195 {
    min-height: 225px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-position: top center
  }
}

#post {
  margin-top: 50px;
}

#section-247 {
  margin-top: 50px;
  min-height: 518px
}

@media screen and (max-width: 1024px) {
  #section-247 {
    min-height: 351px
  }
}

@media screen and (max-width: 479px) {
  #section-247 {
    min-height: 110px
  }
}

#section-442 {
  margin-top: 50px;
}

#contact {
  height: 272px;
  background-color: #3c6a36
}

#linkblock-3 {
  display: flex
}

#navmenu-4 {
  font-size: 18px;
  justify-content: space-between;
  min-width: 555px
}

#navmenu-4 li a {
  color: #000
}

#section-12 {
  display: flex;
  justify-content: space-between;
  min-width: 114px;
  min-height: 22px
}

#image-16,
#image-248 {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#icon-13 {
  color: #f60
}

#icon-14 {
  color: #f60
}

#icon-15 {
  color: #f60
}

#heading-18 {
  font-family: Verdana;
  color: #fff;
  font-size: 90px;
  font-weight: 700
}

@media screen and (max-width: 1024px) {
  #heading-18 {
    font-size: 70px
  }
}

@media screen and (max-width: 479px) {
  #heading-18 {
    font-size: 30px
  }
}

#paragraph-19 {
  color: #fff;
  font-size: 22px
}

@media screen and (max-width: 1024px) {
  #paragraph-19 {
    font-size: 18px
  }
}

@media screen and (max-width: 479px) {
  #paragraph-19 {
    font-size: 16px
  }
}

#button-21 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
  min-width: 150px;
  min-height: 32px;
  border-style: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #e65c00
}

@media screen and (max-width: 1024px) {
  #button-21 {
    color: #fff
  }
}

@media screen and (max-width: 479px) {
  #button-21 {
    width: 119px;
    font-size: 12px;
    min-height: 28px
  }
}

#heading-23 {
  font-family: Verdana;
  color: #e65c00;
  font-weight: 700;
  text-align: center
}

@media screen and (max-width: 479px) {
  #heading-23 {
    font-size: 25px
  }
}

#paragraph-24 {
  font-size: 22px;
  text-align: center
}

@media screen and (max-width: 479px) {
  #paragraph-24 {
    font-size: 16px
  }
}

#row-41 {
  display: flex;
  justify-content: space-around
}

#button-71 {
  margin-top: 50px;
  font-size: 22px;
  font-weight: 700;
  min-width: 150px;
  min-height: 32px;
  border-style: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #e65c00
}

@media screen and (max-width: 1024px) {
  #button-71 {
    color: #fff
  }
}

@media screen and (max-width: 479px) {
  #button-71 {
    width: 171px;
    font-size: 14px;
    min-height: 20px
  }
}

#section-45 {
  min-height: 220px;
  background-color: #837870
}

#linkblock-46 {
  color: #fff;
  text-decoration: none;
  display: inline-block
}

@media screen and (max-width: 1024px) {
  #heading-47 {
    font-size: 30px
  }
}

@media screen and (max-width: 479px) {
  #heading-47 {
    font-size: 22px
  }
}

#section-51 {
  min-height: 220px;
  padding-top: 29px;
  padding-left: 10%;
  padding-right: 9%;
  background-color: #837870
}

#linkblock-52 {
  color: #fff;
  text-decoration: none;
  display: inline-block
}

@media screen and (max-width: 1024px) {
  #heading-53 {
    font-size: 30px
  }
}

@media screen and (max-width: 479px) {
  #heading-53 {
    font-size: 22px
  }
}

#section-57 {
  min-height: 220px;
  padding-top: 29px;
  padding-left: 10%;
  padding-right: 9%;
  background-color: #837870
}

#linkblock-58 {
  color: #fff;
  text-decoration: none;
  display: inline-block
}

@media screen and (max-width: 1024px) {
  #heading-59 {
    font-size: 30px
  }
}

@media screen and (max-width: 479px) {
  #heading-59 {
    font-size: 22px
  }
}

#row-91 {
  background-color: #e65c00
}

#row-179 {
  background-color: #e65c00
}

@media screen and (max-width: 1024px) {
  #column-92 {
    padding-right: 0
  }
}

#column-93 {
  padding-top: 94px;
  padding-left: 7%;
  padding-right: 5%
}

@media screen and (max-width: 1024px) {
  #column-93 {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 20px
  }
}

@media screen and (max-width: 479px) {
  #column-93 {
    padding-left: 10%;
    padding-bottom: 20px;
    padding-right: 10%
  }
}

#heading-133 {
  color: #fff;
  font-size: 50px
}

@media screen and (max-width: 1024px) {
  #heading-133 {
    font-size: 35px
  }
}

@media screen and (max-width: 479px) {
  #heading-133 {
    font-size: 25px
  }
}

#paragraph-134 {
  color: #fff;
  font-size: 22px
}

@media screen and (max-width: 1024px) {
  #paragraph-134 {
    font-size: 18px
  }
}

@media screen and (max-width: 479px) {
  #paragraph-134 {
    font-size: 16px
  }
}

#button-178 {
  margin-top: 20px;
  color: #e65c00;
  font-size: 22px;
  font-weight: 700;
  min-width: 150px;
  min-height: 32px;
  border-style: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff
}

@media screen and (max-width: 479px) {
  #button-178 {
    font-size: 14px
  }
}

#column-182 {
  padding-top: 97px;
  padding-left: 7%;
  padding-right: 5%
}

@media screen and (max-width: 1024px) {
  #column-182 {
    padding-top: 20px;
    padding-left: 5%
  }
}

@media screen and (max-width: 479px) {
  #column-182 {
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%
  }
}

@media screen and (max-width: 1024px) {
  #column-180 {
    padding-left: 0
  }
}

#heading-183 {
  color: #fff;
  font-size: 50px
}

@media screen and (max-width: 1024px) {
  #heading-183 {
    font-size: 35px
  }
}

@media screen and (max-width: 479px) {
  #heading-183 {
    font-size: 25px
  }
}

#paragraph-184 {
  color: #fff;
  font-size: 22px
}

@media screen and (max-width: 1024px) {
  #paragraph-184 {
    font-size: 18px
  }
}

@media screen and (max-width: 479px) {
  #paragraph-184 {
    font-size: 16px
  }
}

#button-185 {
  margin-top: 20px;
  color: #e65c00;
  font-size: 22px;
  font-weight: 700;
  min-width: 150px;
  min-height: 32px;
  border-style: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff
}

@media screen and (max-width: 479px) {
  #button-185 {
    font-size: 14px
  }
}

#heading-193 {
  color: #fff;
  font-size: 60px;
  font-weight: 700
}

@media screen and (max-width: 479px) {
  #heading-193 {
    font-size: 30px
  }
}

#paragraph-194 {
  color: #fff;
  font-size: 28px
}

@media screen and (max-width: 479px) {
  #paragraph-194 {
    font-size: 16px
  }
}

#heading-196 {
  color: #fff;
  font-size: 60px;
  font-weight: 700
}

@media screen and (max-width: 479px) {
  #heading-196 {
    font-size: 30px
  }
}

#paragraph-197 {
  color: #fff;
  font-size: 28px
}

@media screen and (max-width: 479px) {
  #paragraph-197 {
    font-size: 16px
  }
}

#heading-199 {
  font-family: Verdana;
  color: #e65c00;
  font-weight: 700;
  text-align: center
}

@media screen and (max-width: 479px) {
  #heading-199 {
    font-size: 25px
  }
}

#row-200 {
  margin-top: 20px;
  display: flex;
  justify-content: space-around
}

#row-228 {
  margin-top: 20px;
  display: flex;
  justify-content: space-around
}

#column-210 {
  position: relative
}

#section-206 {
  padding-top: 18px;
  padding-left: 0;
  padding-right: 0
}

#linkblock-207 {
  text-decoration: none;
  display: inline-block
}

#heading-208 {
  color: #e65c00
}

@media screen and (max-width: 1024px) {
  #heading-208 {
    font-size: 25px
  }
}

@media screen and (max-width: 479px) {
  #heading-208 {
    font-size: 18px
  }
}

#paragraph-209 {
  position: relative;
  color: #000;
  font-size: 18px
}

@media screen and (max-width: 479px) {
  #paragraph-209 {
    font-size: 16px
  }
}

#section-212 {
  padding-top: 18px;
  padding-left: 0;
  padding-right: 0
}

#linkblock-213 {
  text-decoration: none;
  display: inline-block
}

#heading-214 {
  color: #e65c00
}

@media screen and (max-width: 1024px) {
  #heading-214 {
    font-size: 25px
  }
}

@media screen and (max-width: 479px) {
  #heading-214 {
    font-size: 18px
  }
}

#paragraph-215 {
  color: #000;
  font-size: 18px
}

@media screen and (max-width: 479px) {
  #paragraph-215 {
    font-size: 16px
  }
}

#section-218 {
  padding-top: 18px;
  padding-left: 0;
  padding-right: 0
}

#linkblock-219 {
  text-decoration: none;
  display: inline-block
}

#heading-220 {
  color: #e65c00
}

@media screen and (max-width: 1024px) {
  #heading-220 {
    font-size: 25px
  }
}

@media screen and (max-width: 479px) {
  #heading-220 {
    font-size: 18px
  }
}

#paragraph-221 {
  color: #000;
  font-size: 18px
}

@media screen and (max-width: 479px) {
  #paragraph-221 {
    font-size: 16px
  }
}

#section-231 {
  padding-top: 18px;
  padding-left: 0;
  padding-right: 0
}

#linkblock-232 {
  text-decoration: none;
  display: inline-block
}

#heading-233 {
  color: #e65c00
}

@media screen and (max-width: 1024px) {
  #heading-233 {
    font-size: 25px
  }
}

@media screen and (max-width: 479px) {
  #heading-233 {
    font-size: 18px
  }
}

#paragraph-234 {
  color: #000;
  font-size: 18px
}

@media screen and (max-width: 479px) {
  #paragraph-234 {
    font-size: 16px
  }
}

#section-237 {
  padding-top: 18px;
  padding-left: 0;
  padding-right: 0
}

#linkblock-238 {
  text-decoration: none;
  display: inline-block
}

#heading-239 {
  color: #e65c00
}

@media screen and (max-width: 1024px) {
  #heading-239 {
    font-size: 25px
  }
}

@media screen and (max-width: 479px) {
  #heading-239 {
    font-size: 18px
  }
}

#paragraph-240 {
  color: #000;
  font-size: 18px
}

@media screen and (max-width: 479px) {
  #paragraph-240 {
    font-size: 16px
  }
}

#section-243 {
  padding-top: 18px;
  padding-left: 0;
  padding-right: 0
}

#linkblock-244 {
  text-decoration: none;
  display: inline-block
}

#heading-245 {
  color: #e65c00
}

@media screen and (max-width: 1024px) {
  #heading-245 {
    font-size: 25px
  }
}

@media screen and (max-width: 479px) {
  #heading-245 {
    font-size: 18px
  }
}

#paragraph-246 {
  color: #000;
  font-size: 18px
}

@media screen and (max-width: 479px) {
  #paragraph-246 {
    font-size: 16px
  }
}

#image-248 {
  width: 100%;
  max-width: 100%;
  max-height: 100%
}

#heading-443 {
  font-family: Verdana;
  color: #e65c00;
  font-weight: 700;
  text-align: center
}

@media screen and (max-width: 479px) {
  #heading-443 {
    font-size: 25px
  }
}

#row-444 {
  margin-top: 20px
}

#row-455 {
  display: flex;
  justify-content: space-between;
  padding: 36px;
}

#hrule-467 {
  background-color: #000
}

#paragraph-468 {
  text-align: center;
  color: #fdfdfd;
}

#column-456 {
}

#column-457 {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media screen and (max-width: 479px) {
  #column-457 {
    padding-bottom: 20px;
    padding-top: 20px
  }
}

#column-458 {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#heading-459 {
  font-size: 30px;
  font-weight: 700;
  color: #fdfdfd;
}

.info-text{
  color: #fdfdfd;
}

#form-461 {
  display: flex
}

#textinput-465 {
  width: 315px;
  min-height: 33px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #000;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.05)
}

#button-466 {
  color: #fff;
  border-style: solid;
  border-color: #000;
  border-radius: 0;
  background-color: #000
}

.link-595 {
  color: #fdfdfd;
  text-decoration: none;
  cursor: pointer;
}

#link-596 {
  color: #444
}

#link-597 {
  color: #444
}

#link-598 {
  color: #444
}

#link-599 {
  color: #444
}

#link-600 {
  color: #444
}

#section-588 {
  display: flex;
  justify-content: space-around;
  min-width: 100px;
  min-height: 23px;
  padding-left: 0;
  gap: 12px;
}


