 <!-- Start Footer
    ============================================= -->
    <footer class="bg-dark text-light">
      <!-- Fixed Shape -->
      <div class="fixed-shape">
          <img src="../../../assets/images/f2.gif" alt="Shape">
      </div>
      <!-- Fixed Shape -->
      <div class="container">
          <div class="f-items default-padding">
              <div class="row">
                  <!-- Single Itme -->
                  <div class="col-lg-4 col-md-6 item">
                      <div class="f-item about">
                          <img src="../../../assets/images/logo.png" alt="Logo">
                          <p>
                            Recibe actualizaciones exclusivas.
                            ¡Suscríbete con tu correo para más contenido informativo!
                          </p>
                          <form action="#">
                              <input type="email" placeholder="Tu email" class="form-control" name="email">
                              <button type="submit">Subscribe</button>
                          </form>
                      </div>
                  </div>
                  <!-- End Single Itme -->

                  <!-- Single Itme -->
                  <div class="col-lg-2 col-md-6 item">
                      <div class="f-item link">
                          <h4 class="widget-title">Explora</h4>
                          <ul>
                              <li *ngIf="!esRutaHome()">
                                <a (click)="navigateTo('home')">Home</a>
                              </li>
                              <li *ngIf="!esRutaServices()">
                                  <a (click)="navigateTo('services')">Servicios</a>
                              </li>
                              <li *ngIf="!esRutaStatistics()">
                                  <a (click)="navigateTo('statistics')">Estadísticas</a>
                              </li>
                              <li *ngIf="!esRutaAbout()">
                                  <a (click)="navigateTo('about')">Sobre Nosotros</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <!-- End Single Itme -->

                  <!-- Single Itme -->
                  <div class="col-lg-3 col-md-6 item">
                      <div class="f-item recent-post">
                          <h4 class="widget-title">Importantes</h4>
                          <ul>
                              <li>
                                  <div class="thumb">
                                      <a href="#">
                                          <img src="../../../assets/images/f1.png" alt="Thumb">
                                      </a>
                                  </div>
                                  <div class="info">
                                      <a href="#">Cinco expositores que estarán en la
                                        nueva Expo Agrofuturo </a>
                                      <div class="meta-title">
                                          <span class="post-date">06 Sep, 2023</span>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="thumb">
                                      <a href="#">
                                          <img src="../../../assets/images/f5.jpg" alt="Thumb">
                                      </a>
                                  </div>
                                  <div class="info">
                                      <a href="#">Finagro desembolsó más de $7,8 billones para producir alimentos</a>
                                      <div class="meta-title">
                                          <span class="post-date">16 Nov, 2023</span>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <!-- End Single Itme -->

                  <!-- Single Itme -->
                  <div class="col-lg-3 col-md-6 item">
                      <div class="f-item">
                          <h4 class="widget-title">Contacto</h4>
                          <div class="address">
                              <ul>
                                  <li>
                                      <strong>Dirección: </strong>
                                      cra 7 #39C-55 ME Apto 302 vía acolsure
                                  </li>
                                  <li>
                                      <strong>Email: </strong>
                                      <a href="mailto:Agro-Web&#64;gmail.com">Agro-Web&#64;gmail.com</a>
                                  </li>
                                  <li>
                                      <strong>celular: </strong>
                                      <a href="#"> +573122092826</a>
                                  </li>
                              </ul>
                          </div>
                          <div class="social">
                              <ul>
                                  <li class="facebook">
                                      <a href="#">
                                          <i class="fab fa-facebook-f"></i>
                                      </a>
                                  </li>
                                  <li class="twitter">
                                      <a href="#">
                                          <i class="fab fa-twitter"></i>
                                      </a>
                                  </li>
                                  <li class="youtube">
                                      <a href="#">
                                          <i class="fab fa-youtube"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- Single Itme -->
              </div>
          </div>
      </div>
      <!-- Start Footer Bottom -->
      <div class="footer-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <p>Copyright &copy;  2023. Diseñado por <a href="#">agro-web</a></p>
                  </div>
                  <div class="col-md-6 text-right link">
                      <ul>
                          <li>
                              <a href="#">Terms</a>
                          </li>
                          <li>
                              <a href="#">Privacy</a>
                          </li>
                          <li>
                              <a href="#">Support</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <!-- End Footer Bottom -->
  </footer>
  <!-- End Footer -->
