<!-- Start Services 
    ============================================= -->
    <div class="thumb-services-area half-bg bg-gradient-green default-padding bottom-less">
        <div class="container">
            <div class="heading-left text-light">
                <div class="row">
                    <div class="col-lg-5">
                        <h1 class="text-invisible">
                            Planificar
                        </h1>
                        <h5>¿Que hacemos?</h5>
                        <h2>
                            Ayudamos a planificar Tus Cosechas
                        </h2>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <p>
                            Planificar con AGRO-WEB minimiza pérdidas 
                            económicas, optimiza recursos agrícolas y 
                            ofrece estimaciones aproximadas de producción. 
                            Mejora la eficiencia, rentabilidad y estabilidad 
                            económica para agricultores en Norte de Santander, Colombia.
                        </p>
                        <a class="btn circle btn-md btn-theme effect" href="https://www.youtube.com/watch?v=R3joQKqrboo" target="_blank">Ver más<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-content-box">
            <div class="container">
                <div class="services-items services-carousel owl-carousel owl-theme" >
                    <!-- Single Item -->
                    <div class="item">
                        <div class="thumb">
                            <img src="../../../../assets/images/s1.jpg" alt="Thumb">
                        </div>
                        <div class="content">
                            <!-- <div class="icon">
                                <i class="flaticon-fertilizer"></i>
                            </div> -->
                            <div class="title">
                                <h5><a href="#"> Optimización de Recursos</a></h5>
                            </div>
                            <p>
                                Anticipa y optimiza recursos 
                                agrícolas como semillas, agua y 
                                fertilizantes para mayor eficiencia y 
                                sostenibilidad.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item">
                        <div class="thumb">
                            <img src="../../../../assets/images/s2.jpg" alt="Thumb">
                        </div>
                        <div class="content">
                            <!-- <div class="icon">
                                <i class="flaticon-vegetable"></i>
                            </div> -->
                            <div class="title">
                                <h5><a href="#">Estimación de Producción</a></h5>
                            </div>
                            <p>
                                Prepárate para comercializar con una estimación 
                                precisa de producción, contribuyendo a la estabilidad 
                                del mercado local.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item">
                        <div class="thumb">
                            <img src="../../../../assets/images/s3.jpg" alt="Thumb">
                        </div>
                        <div class="content">
                            <!-- <div class="icon">
                                <i class="flaticon-honeycomb"></i>
                            </div> -->
                            <div class="title">
                                <h5><a href="#">Reducción de Pérdidas</a></h5>
                            </div>
                            <p>
                                Con AGRO-WEB, anticipa y gestiona siembras 
                                para reducir pérdidas económicas, optimizando inversiones 
                                y mejorando rentabilidad agrícola.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Services Area -->


<!-- <div ngClass="dsc-news">
    <ng-container *ngFor="let n of items">
        <div ngClass="dsc-news__container"
            [ngStyle]="{'background-image': 'url(' + n.image + ')', 'margin-left': n.marginLeft + '%'}">
            <div ngClass="dsc-news__container-new">
                <div ngClass="dsc-news__container-new__item">
                    <div ngClass="dsc-news__container-new__item-inf">
                        <h1>{{n.title?.first}} <span>{{n.title?.second}}</span></h1>
                        <p>{{n.description}}</p>
                    </div>
                    <div ngClass="dsc-news__container-new__item-vidio">
                        <iframe width="250" height="150" src="https://www.youtube.com/embed/xGcutJk_7Kw?si=c12MWiWrAZv6L6co" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <youtube-player [videoId]="items[0].videoLink" [width]="250" [height]="150"></youtube-player>
                    </div>
                    <button (click)="openVidio(n)"><mat-icon>play_arrow</mat-icon> Ver video</button>
                    
                </div>
            </div>
        </div>
    </ng-container>
</div> -->