 <!-- Start Specialty 
    ============================================= -->
    <div class="specialty-area half-bg bg-gray overflow-hidden">
        <div class="container-full">
            <div class="specialty-items default-padding">
                <!-- Fixed BG -->
                <div class="fixed-bg bg-fixed shadow dark" style="background-image: url(../../../../assets/images/7.jpg);">
                    
                </div>
                <!-- End Fixed BG -->
                <div class="row">
                    <div class="col-lg-4 info text-light">
                        <h2>Beneficios Económicos de Estabilizar los Precios</h2>
                        <a class="btn circle btn-light border btn-md" href="https://www.fao.org/3/y5673s/y5673s05.htm" target="_blank">Ver más</a>
                    </div>
                    <div class="col-lg-8">
                        <div class="specialty-contents specialty-carousel owl-carousel owl-theme text-center">
                            <div class="item">
                                <i class="flaticon-menu"></i>
                                <h5>Estabilidad Financiera</h5>
                                <p>
                                    La estabilización de precios ofrece a los agricultores una mayor estabilidad 
                                    financiera al prever ingresos consistentes y prevenir fluctuaciones bruscas en el mercado.
                                </p>
                            </div>
                            <div class="item">
                                <i class="flaticon-healthy-food"></i>
                                <h5>Acceso a Créditos</h5>
                                <p>
                                    Al contar con precios más estables, los agricultores tienen mayores posibilidades 
                                    de acceder a créditos financieros, 
                                    impulsando así sus operaciones y fomentando el crecimiento económico local.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Specialty Area -->
