<header Class="container-navbar">
  <div Class="logo">
    <img src="../../assets/images/logo.svg" alt="">
  </div>
  <div Class="container-menu">
    <div Class="dropdown">
      <nav [class]="dropDown">
        <ul Class="nav-links">
          <li *ngIf="!esRutaHome()" (click)="navigateTo('home')">
            <a (click)="navigateTo('home')">Home</a>
          </li>
          <li *ngIf="!esRutaServices()" (click)="navigateTo('services')">
            <a (click)="navigateTo('services')">servicios</a>
          </li>
          <li *ngIf="!esRutaStatistics()" (click)="navigateTo('statistics')">
              <a (click)="navigateTo('statistics')">estadisticas</a>
          </li>
          <li *ngIf="!esRutaAbout()" (click)="navigateTo('about')">
            <a (click)="navigateTo('about')">sobre nosotros</a>
          </li>
          <li *ngIf="!esRutaFarmers()" (click)="navigateTo('farmers')">
            <a (click)="navigateTo('farmers')">Farmers</a>
          </li>
        </ul>
      </nav>
      <div Class="menu" (click)="drop()" [class]="menu" >
        <a><mat-icon>home</mat-icon></a>
      </div>
    </div>
  </div>
  <button type="button">iniciar sesi&oacute;n</button>
</header>
