*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #151515;
  text-transform: uppercase;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 20px 5px 5px;
}

.container-menu{
  text-align: right;
  width: 70%;
}
.dropdown{
  display: flex;
  justify-content: right;
  text-align: left;
}

header .logo img{
  height: 70px;
  width: auto;
  transition: all 0.3s;
  cursor: pointer;
}

header .logo img:hover{
  transform: scale(1.1);
}

.nav-links{
  list-style: none;
}

.nav-links li{
  // background: linear-gradient(90deg, #ffffff 0%, #ffffff 49%, #ffffff 50%, #eda407 100%);
  // background-size: 200% 1px;
  display: inline-block;
  padding: 20px;
  transition: all 0.3s;
  border-right: 1px solid #eda407;
}

.nav-links li:hover{
  transform: scale(1.1);
  cursor: pointer;
  background-color: none;
  border-radius: 5px;
  background-color: #3c6a36;
  // background-position: 100% 0;
  // transition: all .3s;
}

.nav-links a{
  text-decoration: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav-links li:hover a{
  color: white;
}

.menu{
  display: none;
}

.menu:hover a i{
  color: #3c6a36;
}

button{
  margin-right: 37px;
  background-color: #3c6a36;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

button:hover{
  transform: scale(1.1);
  background-color: #eda407;
}

button:active{
  background-color: #589b4f;
}

@media (max-width: 1000px) {

  button{
    padding: 10px;
    margin: 0;
  }

  .menu{
    display: block;
    padding: 18px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .menu a{
    text-decoration: none;
    text-align: center;
  }

  .menu a mat-icon{
    transform: scale(2);
    font-size: 20px;
    text-transform: lowercase;
  }

  .menu:hover{
    transform: scale(1.1);
  }

  .menu:hover a mat-icon{
    color: #3c6a36;
  }

  .onMenu a mat-icon{
    color: #eda407;
  }

  nav {
    display: none;
    position: absolute;
    top: 59px;
    overflow: hidden;
    z-index: 2;
  }

  .nav-links li {
    display: block;
    padding: 10px;
    border-right: none;
    border-bottom: 1px solid #eda407;
  }

  .offDropdown .nav-links{
    animation: offDropdown 0.5s ease;
  }

  .onDropdown,.offDropdown{
    display: block;
    padding: 10px;
  }


  .nav-links{
    border-radius: 5px;
    background-color: white;
    animation: onDropdown 0.5s ease;
    padding: 1px 2px;
  }



  @keyframes onDropdown {
    100%{
      transform: translateY(0px);
    }
    0%{
      transform: translateY(-200px);
    }
  }

  @keyframes offDropdown {
    0%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(-200px);
    }
  }

}
