<header Class="container-navbar">
  <div Class="logo">
    <img src="../../assets/images/logo.svg" alt="">
  </div>
  <div Class="container-menu">
    <div Class="dropdown">
      <nav [class]="dropDown">
        <ul Class="nav-links">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">servicios</a>
          </li>
          <li>
              <a href="#">estadisticas</a>
          </li>
          <li>
            <a href="#">sobre nosotros</a>
          </li>
        </ul>
      </nav>
      <div Class="menu" (click)="drop()" [class]="menu" >
        <a href="#" ><mat-icon>home</mat-icon></a>
      </div>
    </div>
  </div>
  <button type="button">iniciar sesi&oacute;n</button>
</header>
