<div ngClass="int-container">
    <label ngClass="int-title">qui&eacute;nes<span> somos</span></label>
    <div ngClass="int-cards">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt suscipit nostrum officia assumenda totam quod
        voluptate dolorum esse! Eaque reiciendis ad culpa ex modi praesentium cum labore, iusto voluptatibus amet?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita recusandae commodi deserunt repellendus at,
        dignissimos optio neque alias autem ut molestiae fuga, adipisci vel rerum facilis blanditiis debitis assumenda
        possimus.
      </p>
      <div ngClass="int-read-more">
        <div>
          <button type="button">leer m&aacute;s de <span>agro-<span>web</span></span></button>
        </div>
      </div>
      <!-- <div ngClass="int-mission">
        <div ngClass="int-mission-inf">
          <label>misi&oacute;n</label>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quos officia labore sequi nisi
            provident
            non asperiores. Quos in voluptatem mollitia temporibus, beatae, et laudantium repellendus laboriosam
            blanditiis explicabo nobis.</p>
        </div>
        <div ngClass="int-mission-img">
          <img src="../../assets/images/img4.jpg" alt="">
        </div>
      </div>
      <div ngClass="int-vision">
        <div ngClass="int-vision-inf">
          <label>visi&oacute;n</label>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, velit perferendis est, eligendi aut
            nisi id sed minus ducimus repellendus consectetur officiis voluptas unde natus corporis labore, tempore
            praesentium. Perferendis?</p>
        </div>
        <div ngClass="int-vision-img">
          <img src="../../assets/images/img4.jpg" alt="">
        </div> 
      </div> -->
    </div>
  </div>
  <div ngClass="int-container-testimony">
    <div ngClass="int-testimony">
      <div ngClass="int-testimony-inf">
        <label ngClass="int-testimony-title">testimonio</label>
        <label ngClass="int-testimony-subtitle"><span ngClass="exclamation-mark">¡</span>
          <p ngClass="subtitle">la cruda realidad del <span ngClass="camp">campo</span><span ngClass="exclamation-mark">!</span></p>
        </label>
        <p>
          lorem ipsum dolor sit amet consectetur adipisicing elit. Quis asperiores sit possimus, in aspernatur quibusdam
          illo officia tenetur minus omnis, aut exercitationem, assumenda voluptates quos reiciendis vel deserunt
          accusantium at!
        </p>
      </div>
      <div ngClass="int-testimony-vidio">
        <div ngClass="int-container-vidio">
          <div ngClass="int-vidio">
            <iframe width="260" height="165" src="https://www.youtube.com/embed/xGcutJk_7Kw?si=c12MWiWrAZv6L6co" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        </div>
      </div>
    </div>
  </div>