
<!-- Star About Area
    ============================================= -->
    <div class="about-content-area single-thumb overflow-hidden inc-shape default-padding">
      <!-- Illustration -->
      <div class="illustration">
          <img src="../../../../assets/images/4.gif" alt="Illustration">
      </div>
      <!-- Illustration -->
      <div class="container">
          <div class="row">
              
              <div class="col-lg-6 info">
                  <div class="content">
                      <h5>¿Quienes somos?</h5>
                      <h2 class="area-title">AGRO-WEB: Tu plataforma de cosecha.</h2>
                      <p>
                        Somos un emprendimiento comprometido con 
                        la regulación de precios agrícolas en Norte 
                        de Santander, Colombia. Facilitamos la planificación 
                        eficiente de cosechas mediante herramientas para 
                        estimar producción, contribuyendo a la estabilidad 
                        económica regional y mejorando las condiciones laborales 
                        de los agricultores, impulsando el crecimiento sostenible 
                        de la comunidad agrícola.</div>
                  <ul class="achivement">
                      <li>
                          <div class="fun-fact">
                              <div class="counter">
                                  <div class="timer" #timerElement data-to="600" data-speed="5000">600</div>
                                  <div class="operator">+</div>
                              </div>
                              <span class="medium">Hectáreas cultivadas</span>
                          </div>
                      </li>
                      <li>
                          <div class="fun-fact">
                              <div class="counter">
                                  <div class="timer" #timerElement data-to="100" data-speed="5000">100</div>
                                  <div class="operator">%</div>
                              </div>
                              <span class="medium">Planificadas</span>
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-6">
                  <div class="thumb">
                      <img src="../../../../assets/images/i1.jpg" alt="Thumb">
                      <div class="experience">
                          <h2><strong>100%</strong> Comprometidos contigo</h2>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <!-- End About Area -->


<!-- <div ngClass="int-container">
    <label ngClass="int-title">qui&eacute;nes<span> somos</span></label>
    <div ngClass="int-cards">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt suscipit nostrum officia assumenda totam quod
        voluptate dolorum esse! Eaque reiciendis ad culpa ex modi praesentium cum labore, iusto voluptatibus amet?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita recusandae commodi deserunt repellendus at,
        dignissimos optio neque alias autem ut molestiae fuga, adipisci vel rerum facilis blanditiis debitis assumenda
        possimus.
      </p>
      <div ngClass="int-read-more">
        <div>
          <button type="button">leer m&aacute;s de <span>agro-<span>web</span></span></button>
        </div>
      </div>
      
    </div>
  </div>
  <div ngClass="int-container-testimony">
    <div ngClass="int-testimony">
      <div ngClass="int-testimony-inf">
        <label ngClass="int-testimony-title">testimonio</label>
        <label ngClass="int-testimony-subtitle"><span ngClass="exclamation-mark">¡</span>
          <p ngClass="subtitle">la cruda realidad del <span ngClass="camp">campo</span><span ngClass="exclamation-mark">!</span></p>
        </label>
        <p>
          lorem ipsum dolor sit amet consectetur adipisicing elit. Quis asperiores sit possimus, in aspernatur quibusdam
          illo officia tenetur minus omnis, aut exercitationem, assumenda voluptates quos reiciendis vel deserunt
          accusantium at!
        </p>
      </div>
      <div ngClass="int-testimony-vidio">
        <div ngClass="int-container-vidio">
          <div ngClass="int-vidio">
            <iframe width="260" height="165" src="https://www.youtube.com/embed/xGcutJk_7Kw?si=c12MWiWrAZv6L6co" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        </div>
      </div>
    </div>
  </div> -->
