<div class="container-main">
  <div class="container" id="container" [class]="right_panel">
    <div class="form-container sign-up-container margin-botton">
      <form class="form" [formGroup]="form">
        <h1 class="margin-botton">Crear una cuenta</h1>
        <div class="form-sign-up">

          <mat-form-field>
            <mat-label>Nombres</mat-label>
            <input matInput #name maxlength="50" placeholder="Pepito" formControlName="name_user">
            <mat-hint align="start">Max<strong> 50 </strong>caracteres </mat-hint>
            <mat-hint align="end">{{name.value.length}} / 50</mat-hint>
            @if (form.get('name_user')?.errors?.['required']) {
            <mat-error>Nombre <strong>requerido</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Apellidos</mat-label>
            <input matInput #lastname maxlength="50" placeholder="Pepito" formControlName="lastname_user">
            <mat-hint align="start">Max<strong> 50 </strong>caracteres </mat-hint>
            <mat-hint align="end">{{lastname.value.length}} / 50</mat-hint>
            @if (form.get('lastname_user')?.errors?.['required']) {
            <mat-error>Apellido <strong>requerido</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Celular</mat-label>
            <span matPrefix>+57 &nbsp;</span>
            <input type="tel" #phone maxlength="10" minlength="10" matInput placeholder="312-555-1234"
              formControlName="phone_user" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
            <mat-hint align="end">{{phone.value.length}} / 10</mat-hint>
            @if (form.get('phone_user')?.errors?.['required']) {
            <mat-error>Celular <strong>requerido</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Tipo Documento</mat-label>
            <mat-select formControlName="type_document_id">
              @for (type of type_documents; track type) {
              <mat-option [value]="type.id_type_document">{{type.code_type_document}} -
                {{type.name_type_document}}</mat-option>
              }
            </mat-select>
            <mat-hint align="end">Seleccione un <strong>tipo documento</strong></mat-hint>
            @if (form.get('type_document_id')?.errors?.['required']) {
            <mat-error>Tipo documento <strong>requerido</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Documento</mat-label>
            <input type="text" #id_document maxlength="10" minlength="8" matInput placeholder="55523234"
              formControlName="id_document_user" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
            <mat-hint align="start">Min<strong> 8 </strong>- Max<strong> 10 </strong> caracteres</mat-hint>
            <mat-hint align="end">{{id_document.value.length}} / 10</mat-hint>
            @if (form.get('id_document_user')?.errors?.['required']) {
            <mat-error>Documento <strong>requerido</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" #email matInput placeholder="Ej. pat@example.com" formControlName="email_user">
            <mat-hint align="start">Max<strong> 250 </strong> caracteres</mat-hint>
            <mat-hint align="end">{{email.value.length}} / 250</mat-hint>
            @if (form.get('email_user')?.errors?.['email'] && !form.get('email')?.errors?.['required']) {
            <mat-error>Ingrese un correo <strong>valido</strong></mat-error>
            }
            @if (form.get('email_user')?.errors?.['required']) {
            <mat-error>Correo <strong>requerido</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthdate_user">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (form.get('birthdate_user')?.errors?.['required']) {
            <mat-error>Fecha nacimiento <strong>requerido</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Genero</mat-label>
            <mat-select formControlName="gender_id">
              @for (type of genders; track type) {
              <mat-option [value]="type.id_gender">{{type.code_gender}} - {{type.name_gender}}</mat-option>
              }
            </mat-select>
            <mat-hint align="end">Seleccione un <strong>genero</strong></mat-hint>
            @if (form.get('gender_id')?.errors?.['required']) {
            <mat-error>Genero <strong>requerido</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Departamento</mat-label>
            <mat-select formControlName="department" (selectionChange)="onDepartamento($event.value)">
              @for (type of departments; track type) {
              <mat-option [value]="type.id_department">{{type.code_department}} - {{type.name_department}}</mat-option>
              }
            </mat-select>
            <mat-hint align="end">Seleccione un <strong>departamento</strong></mat-hint>
            @if (form.get('department')?.errors?.['required']) {
            <mat-error>Departamento <strong>requerido</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Municipio</mat-label>
            <mat-select formControlName="municipality_id">
              @for (type of municipalities; track type) {
              <mat-option [value]="type.id_municipality">{{type.code_municipality}} -
                {{type.name_municipality}}</mat-option>
              }
            </mat-select>
            <mat-hint align="end">Seleccione un <strong>municipio</strong></mat-hint>
            @if (form.get('municipality_id')?.errors?.['required']) {
            <mat-error>Municipio <strong>requerido</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </form>
      <form class="form" [formGroup]="form_password">
        <div class="form-sign-up form-sign-up-password">

          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input #password matInput placeholder="Contraseña" minlength="8" [type]="hide ? 'password' : 'text'"
              formControlName="auth_password">
            <mat-hint align="start">Min<strong> 8 </strong> caracteres</mat-hint>
            <mat-hint align="end">8 \ {{password.value.length}}</mat-hint>
            @if (form_password.get('auth_password')?.errors?.['required']) {
            <mat-error>Contraseña <strong>requerido</strong></mat-error>
            }
            @else if(password.value.length < 8){ <mat-error>Contraseña <strong>muy corta</strong></mat-error>
              }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Verificar Contraseña</mat-label>
            <input #password2 matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'"
              formControlName="auth_password2">
            @if (form_password.get('auth_password2')?.errors?.['required'] &&
            !form_password.get('auth_password')?.errors?.['required']) {
            <mat-error>Verificación <strong>requerida</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <button (click)="submitSingUp()">Registrarse</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <div class="social-container">
        <a href="#" class="social"><fa-icon [icon]="icon_git_hub"></fa-icon></a>
        <a href="#" class="social"><fa-icon [icon]="icon_facebook"></fa-icon></a>
        <a href="#" class="social"><fa-icon [icon]="icon_instagram"></fa-icon></a>
      </div>
      <form class="form form-sign-in" [formGroup]="form_login" (submit)="submit()">
        <h1>Iniciar sesión</h1>
        <span>Ingrese sus crendenciales</span>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" #email_login matInput placeholder="Ej. pat@example.com" formControlName="username">
          <mat-hint align="start">Ingrese<strong> correo </strong></mat-hint>
          @if (form_login.get('username')?.errors?.['email'] && !form_login.get('username')?.errors?.['required']) {
          <mat-error>Correo <strong>invalido</strong></mat-error>
          }
          @if (form_login.get('username')?.errors?.['required']) {
          <mat-error>Correo <strong>requerido</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input #password_login matInput placeholder="Contraseña" minlength="8" [type]="hide ? 'password' : 'text'"
            formControlName="password">
          <mat-hint align="start">Ingrese<strong> contraseña </strong></mat-hint>
          @if (form_login.get('password')?.errors?.['required']) {
          <mat-error>Contraseña <strong>requerido</strong></mat-error>
          }
          @else if(password_login.value.length < 8){ <mat-error>Contraseña <strong>muy corta</strong></mat-error>
          }
        </mat-form-field>
        <button>Iniciar sesión</button>
        <a href="#">¿Olvidaste tu contraseña?</a>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>¡Bienvenido de nuevo!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button #btn_sing_in class="ghost" id="signIn" (click)="removeActivePanel()">Iniciar sesión</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hola, Amigo(a)!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button #btn_sing_up class="ghost" id="signUp" (click)="activeActivePanel()">Registrarse</button>
        </div>
      </div>
    </div>
  </div>
</div>