
<div ngClass="dsc-carousel" [ngStyle]="{'min-height': finalHeight}">
    <div ngClass="dsc-carousel__btns">
        <i (click)="setBack();"><mat-icon>chevron_left</mat-icon></i>
        <i (click)="setNext(); btnsInterval()"><mat-icon>chevron_right</mat-icon></i>
    </div>
    <div ngClass="dsc-carousel__content">
        <ng-container *ngFor="let section of carouselItems">
            <div ngClass="dsc-carousel__content-item" [ngStyle]="{'background-image': 'url(' + section.image + ')', 'margin-left': section.marginLeft + '%'}">
                <h1>{{section.title?.first}} <span>{{section.title?.second}}</span></h1>
                <p>{{section.subtitle}}</p>
            </div>
        </ng-container>
    </div>
    <div ngClass="dsc-carousel__steps">
        <div ngClass="dsc-carousel__steps-step dsc-carousel__steps-step-{{currentIndex === item.id ? 'active': ''}}" *ngFor="let item of carouselItems" (click)="setCurrentPosition(item.id)">

        </div>
    </div>
</div>