 <!-- Start Fun Factor Area
    ============================================= -->
    <div class="fun-factor-area default-padding">
        <div class="container">
            <div class="fun-fact-items text-center">
                <h2 class="text-invisible">REGISTROS</h2>
                <div class="row">
                    <div class="col-lg-4 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" #timerElement [attr.data-to]="count.count_users" data-speed="5000">{{count.count_users}}</div>
                            <span class="medium">Usuarios registrados</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" #timerElement [attr.data-to]="count.count_municipalities" data-speed="5000">{{count.count_municipalities}}</div>
                            <span class="medium">Municipios</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" #timerElement [attr.data-to]="count.count_harvests" data-speed="5000">{{count.count_harvests}}</div>
                            <span class="medium">Tipos de cultivos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Fun Factor Area -->