 <!-- Start Fun Factor Area
    ============================================= -->
    <div class="fun-factor-area default-padding">
        <div class="container">
            <div class="fun-fact-items text-center">
                <h2 class="text-invisible">REGISTROS</h2>
                <div class="row">
                    <div class="col-lg-4 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" #timerElement data-to="687" data-speed="5000">687</div>
                            <span class="medium">Agricultores</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" #timerElement data-to="655" data-speed="5000">655</div>
                            <span class="medium">Municipios cultivados</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item">
                        <div class="fun-fact">
                            <div class="timer" #timerElement data-to="450" data-speed="5000">450</div>
                            <span class="medium">Tipos de cultivos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Fun Factor Area -->