 <!-- Start Testimonials 
    ============================================= -->
    <div class="testimonials-area half-bg overflow-hidden text-light">
        <div class="container">
            <div class="tesimonials-content default-padding">
                <div class="row">
                    <div class="col-lg-4 info">
                        <i class="flaticon-quotation"></i>
                        <h5>ODS: Objetivo 8</h5>
                        <h2>Trabajo Decente y Crecimiento Económico</h2>
                        <a href="https://ods.dnp.gov.co/es/objetivos/trabajo-decente-y-crecimiento-economico" class="btn circle btn-gradient green effect btn-md" target="_blank">Ver más<i class="fas fa-angle-right"></i></a>
                    </div>
                    <div class="col-lg-7 offset-lg-1 testimonials">
                        <div class="testimonial-items">
                            <div class="carousel slide" data-ride="carousel" id="testimonial-carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <p>
                                            Agro-Web se alinea con el Objetivo de Desarrollo Sostenible 
                                            número 8, que busca promover el crecimiento económico
                                            inclusivo y sostenible, así como el empleo y el trabajo 
                                            decente para todos. A través de la planificación agrícola, 
                                            buscamos impulsar el desarrollo económico en la región de 
                                            Norte de Santander de manera inclusiva y sostenible.
                                        </p>
                                        <h4>Naciones Unidas</h4>
                                    </div>
                                </div>
                                <!-- End Carousel Content -->

                                <!-- Carousel Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#testimonial-carousel" data-slide-to="0" class="active">
                                        <img src="../../../../assets/images/t1.jpg" alt="Thumb">
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Area -->